<form class="form ng-pristine ng-valid" id="find-reservation-form" ng-submit="submit()" method="post" enctype="multipart/form-data"
    data-validation-obj="findReservationValidate" novalidate="novalidate">
    <div class="field-wrapper">
        <label for="rType">Reservation Type</label>
        <input type="hidden" name="requestType" value="FIND">
        <div class="field-select">
            <select type="text" id="rType" name="type" class="selctDefaultWidth ng-pristine ng-valid" ng-model="rType"
                aria-required="true">
                <option selected="" value="">What type of reservation?</option>
                <option value="room">Room</option>
                <option value="show">Entertainment</option>
                <option value="dining">Dining</option>
            </select>
        </div>
    </div>
    <!-- Added by MGM Support in R1.5 for MRIC-430 -->
    <!-- ngIf: rType==='dining' -->
    <!-- end -->
    <div class="field-wrapper no-dine" ng-class="{ 'dine' : rType==='dining' || rType==='room', 'no-dine' : rType!=='dining' &amp;&amp; rType!=='room' }">
        <label id="rest-confirm-num">Confirmation Number</label>
        <!-- ngIf: rType!=='dining' --><input type="text" id="rest-confirm-other-num" ng-if="rType!=='dining'" name="confirmationNumber"
            ng-model="confirmNum" aria-labelledby="rest-confirm-num" aria-required="true" aria-describedby="" class="ng-scope ng-pristine ng-valid"><!-- end ngIf: rType!=='dining' -->
        <!-- ngIf: rType==='dining' -->
        <!-- ngIf: rType==='room' -->
        <!-- ngIf: rType==='dining' -->
    </div>
    <div class="field-wrapper">
        <label for="rest-first-name">First Name</label> <input type="text" id="rest-first-name" name="firstName"
            ng-model="fname" aria-required="true" class="ng-pristine ng-valid">
    </div>
    <div class="field-wrapper">
        <label for="rest-last-name">Last Name</label> <input type="text" id="rest-last-name" name="lastName" ng-model="lname"
            aria-required="true" class="ng-pristine ng-valid">
    </div>
    <div class="btn-container">
        <button type="submit" class="btn-medium cta" data-redirect="/content/bellagio/en/itineraries.html" id="find-reservation">Find
            Reservation</button>
    </div>
</form>