<div class="filter-wrapper large circle-radio">
    <div class="filter-label">Filter By:</div>
    <!-- ngIf: flat -->
    <div id="tagsFilter" class="btns filter" data-dtm="filterwhen" select-filter="single">
        <button id="tagsFilter-0-entertainment-btn" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle">Cuisine</button>
        <div class="dropdown-wrapper">
            <ul class="dropdown-menu filter-menu" role="radiogroup" aria-labelledby="tagsFilter2-0-entertainment-btn">
                <li role="radio" aria-controls="applied-filters" aria-selected="true">
                    <a class="option selected" data-filter="" href="#">Clear
                        <!--<div class="selected-underline" ng-if="flat">
								<span></span>
							</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_type_of_cuisine_pan_asian MGM_corporate_dining_type_of_cuisine_japanese MGM_corporate_dining_type_of_cuisine_thai MGM_corporate_dining_type_of_cuisine_cantonese"
                        href="#">Asian
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_type_of_cuisine_american" href="#">American
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_type_of_cuisine_italian" href="#">Italian
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_type_of_cuisine_steakhouse" href="#">Steakhouse
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_type_of_cuisine_seafood" href="#">Seafood
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_type_of_cuisine_french" href="#">French
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
            </ul>
        </div>
    </div>
    <div id="tagsFilter1" class="btns filter" data-dtm="filterwhen" select-filter="single">
        <button id="tagsFilter1-1-entertainment-btn" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle">Price</button>
        <div class="dropdown-wrapper">
            <ul class="dropdown-menu filter-menu" role="radiogroup" aria-labelledby="tagsFilter3-1-entertainment-btn">
                <li role="radio" aria-controls="applied-filters" aria-selected="true">
                    <a class="option selected" data-filter="" href="#">Clear
                        <!--<div class="selected-underline" ng-if="flat">
								<span></span>
							</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_price_less" href="#">$
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_price_moderate" href="#">$$
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_price_expensive" href="#">$$$
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_price_very_expensive" href="#">$$$$
                        <!--<div class="selected-underline" ng-if="flat">
									<span></span>
								</div>-->
                    </a></li>
            </ul>
        </div>
    </div>
    <div id="tagsFilter2" class="btns filter" data-dtm="filterentertainment" select-filter="single">
        <button id="tagsFilter2-2-entertainment-btn" class="btn dropdown-toggle">Meal</button>
        <div class="dropdown-wrapper">
            <ul class="dropdown-menu filter-menu" role="radiogroup" aria-labelledby="tagsFilter4-2-entertainment-btn">
                <li role="radio" aria-controls="applied-filters" aria-selected="true">
                    <a class="option selected" data-filter="" href="#">Clear
                        <!--<div class="selected-underline" ng-if="flat">
								<span></span>
							</div>-->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_meal_breakfast MGM_corporate_dining_meal_brunch"
                        href="#">Breakfast and Brunch
                        <!-- ngIf: flat -->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_meal_lunch" href="#">Lunch
                        <!-- ngIf: flat -->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_meal_dinner" href="#">Dinner
                        <!-- ngIf: flat -->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_restaurant_type_buffet" href="#">Buffet
                        <!-- ngIf: flat -->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_dining_happy_hour" href="#">Happy Hour
                        <!-- ngIf: flat -->
                    </a></li>
                <li role="radio" aria-controls="applied-filters" aria-selected="false">
                    <a class="option" data-filter="MGM_corporate_time_of_day_late_night" href="#">Late Night
                        <!-- ngIf: flat -->
                    </a></li>
            </ul>
        </div>
    </div>
    <div id="tagsFilter-openNow" class="btns filter" data-dtm="filterwhen">
        <button class="btn toggle option" role="checkbox" aria-checked="false" data-filter="open_now" ng-click="filterResults( 'hotelOpenNow', 'Open Now' )"
            ng-class="{ 'selected' : isSelectedFilter('hotelOpenNow') }" aria-label="Filter results by Open now">Open
            Now</button>
        <!-- <button class="btn toggle option" data-filter="open_now" ng-class="{ 'selected' : openNowSelected }">Open now</button> -->
        <!-- <ul class="dropdown-menu filter-menu">
        <li><a class="option" data-filter="">Open Now
          
        </a></li>
      </ul> -->
    </div>
</div>